{{#articles}}
				<div class="work full-article work-{{id}}"{{#oldurl}} data-oldurl="{{oldurl}}"{{/oldurl}} data-id="{{id}}">
					<div class="postcard" data-bg="{{site}}img/{{id}}/postcard.png"></div>
					<h1>{{title}}</h1>
					<div class="info">{{{body}}}</div>
					{{#disqus}}
					<div class="disqus" data-disqus="{{disqus}}"></div>
					{{/disqus}}
				</div>
{{/articles}}