<div class="ending">
	<a href="https://github.com/neipo13/andrewnapierkowskidotcom">View Source</a>
	<br/>
	&#9733; Based on design/setup created by <a href="http://noelfb.com">Noel Berry</a> ~ <a href="https://github.com/Drazzke/noelfb">Source</a> &#9733;
</div>