{{#games}}
				<div class="work game work-{{id}}">
					<div class="postcard" data-bg="{{site}}img/{{id}}/postcard.png"></div>
					<h1>{{title}}</h1>
					<div class="info"><p>{{{description}}}</p></div>
					{{#links.length}}
					<div class="links">
					{{#links}}
						<a href="{{url}}"><img src="img/link.png" alt=""/><p>{{label}}</p></a>
					{{/links}}
					</div>
					{{/links.length}}
				</div>
{{/games}}