<html>
	<head>
		<title>Andrew Napierkowski</title>
		
		<meta property="og:title" content="Andrew Napierkowski"/> 
		<meta property="og:site_name" content="Andrew Napierkowski"/> 
		<meta property="og:type" content="website"/>
		<!--<meta property="og:url" content="https://andrewnapierkowski.com/"/> 
		<meta property="og:image" content="https://andrewnapierkowski.com/img/preview.png"/>-->

		{{#site}}<base href="{{{site}}}">{{/site}}
		
		<meta name="description" content="">
		<meta name="keywords" content="andrew napierkowski game developer gamedev indie games web monogame unity">
		<meta name="author" content="Andrew Napierkowski"/>
		<meta name="viewport" content="width=device-width, initial-scale=0.7, user-scalable=no">

		<link rel="icon" href="/img/ico.png">
		<link rel="shortcut icon" href="/img/ico.png" type="image/x-icon">
		<link href='http://fonts.googleapis.com/css?family=Lato:400,900' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="/css/normalize.css">
		<link rel="stylesheet" href="/css/core.css">
		<script type="text/javascript">var baseurl = "{{{site}}}";</script>
	</head>
	<body>