{{#projects}}
				<!--<div class="work games work-{{id}}"{{#oldurl}} data-oldurl="{{{oldurl}}}"{{/oldurl}} data-id="{{id}}">
					<div class="postcard" data-bg="img/{{id}}/postcard.png"></div>
					<h1>{{title}}</h1>
					<div class="info">{{{body}}}</div>
					{{#disqus}}
					<div class="disqus" data-disqus="{{disqus}}"></div>
					{{/disqus}}
				</div>-->
				<div class="work game work-{{id}}">
					<div class="postcard" data-bg="img/{{id}}/postcard.{{postcardExt}}"></div>
					<h1>{{title}}</h1>
					<div class="subheader">{{date}}</div>
					<div class="info"><p>{{{description}}}</p></div>
					{{#links.length}}
					<div class="links">
					{{#links}}
						<a href="{{url}}"><img src="img/link.png" alt=""/><p>{{label}}</p></a>
					{{/links}}
					</div>
					{{/links.length}}
				</div>
{{/projects}}