/* CORE 						*/
/* ---------------------------- */

body
{
	margin: 0;
	padding: 0;
	width: 100%;
	min-height: 100%;
	font-family: 'Lato', arial, sans-serif;
	overflow-x: hidden;
	overflow-y: scroll;
}

a { color: #111; text-decoration: underline; font-weight: bold; }
a:hover { color: #22aa88; }

.banner
{
	position: fixed;
	background: url("../img/banner.png") center center;
	background-size: cover;
	width: 45%;
	height: 100%;
	float: left;
	z-index: 100;
}

.content
{
	position: relative;
	width: 55%;
	min-height: 100%;
	float: right;
	overflow-x: hidden;
	overflow: visible;
}

.banner .vignette
{
	background: url("../img/vignette.png") center center no-repeat;
	background-size: 100% 100%;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0.75;
}

.banner .info
{
	position: absolute;
	width: calc(100% - 128px);
	left: 64px;
	bottom: 64px;
}

.banner .info img
{
	width: 20%;
	border-radius: 60px;
	float: left;
}

.banner .info .about
{
	width: 75%;
	float: right;
}

.banner .info h1
{
	color: #fff;
	font-weight: bold;
	padding: 0;
	margin: 0;
	width: 100%;
	float: left;
}

.banner .info p
{
	padding: 0;
	margin: 0;
	font-weight: bold;
	color: #fff;
	opacity: 0.9;
	font-size: 1.1em;
	text-align: justify-all;
	width: 100%;
	float: left;
}

.banner .social
{
	position: absolute;
	top: 24px;
	left: 24px;
}
.banner .social a
{
	width: 64px;
	height: 64px;
	float: left;
	background: url('../img/social.png') no-repeat;
}
.banner .social .twitter { background-position: -64px 0px; }
.banner .social .tumblr { background-position: -128px 0px; }
.banner .social .email { background-position: -0px 0px; }
.banner .social .twitter:hover { background-position: -64px -64px; }
.banner .social .tumblr:hover { background-position: -128px -64px; }
.banner .social .email:hover { background-position: -0px -64px; }

/* PORTFOLIO 					*/
/* ---------------------------- */

.portfolio
{
	position: absolute;
	left: 0;
	background: #fff;
	width: 100%;
	padding: 60px;
	box-sizing: border-box;
	min-height: 100%;
	float: left;
	overflow-y: visible;
}

.portfolio .section
{
	width: 100%;
	margin-bottom: 40px;
	float: left;
}

.portfolio .section h1
{
	width: 100%;
	margin: 0;
	padding: 0 0 12px 0;
	float: left;
	color: #22aa88;
}
.portfolio .section p
{
	font-size: 1.1em;
	width: 100%;
	color: #666;
	margin: 0 0 16px 0;
	float: left;
}

.portfolio .section .list
{
	width: 100%;
	float: left;
}

.portfolio .section .list .link
{
	background: #22aa88;
	position: relative;

	height: 180px;
	margin: 0 1% 1% 0;
	float: left;

	cursor: pointer;
	overflow: hidden;
}
.portfolio .section .list .link:nth-child(-n+4) { width: 49.5%; }
.portfolio .section .list .link:nth-child(-2n+4) { margin-right: 0; }
.portfolio .section .list .link:nth-child(n+5) { width: 32.667%; }
.portfolio .section .list .link:nth-child(n+5) h2 { font-size: 1.1em; }
.portfolio .section .list .link:nth-child(3n+7) { margin-right: 0; }

.portfolio .section .list .link .bg
{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center center;
	opacity: 0.9;
	transition: opacity 0.25s, transform 0.25s;
}
.portfolio .section .list .link h2
{
	position: absolute;
	width: 90%;
	left: 5%;
	top: 30%;
	transform: translate(0, -50%);

	text-align: center;
	text-transform: uppercase;
	color: #fff;
	opacity: 0;
	margin: 0;
	padding: 0;

	transition: opacity 0.25s, top 0.25s;
}
.portfolio .section .list .link:hover .bg { opacity: 0.25; transform: scale(1.2, 1.2); }
.portfolio .section .list .link:hover h2 { opacity: 1; top: 50%; }

/* INDIVIDUAL WORK 				*/
/* ---------------------------- */

.works
{
	position: absolute;
	background: #fff;
	left: 100%;
	width: 100%;
	min-height: 100%;
	float: left;
}

.works .back
{
	position: absolute;
	width: 120px;
	background: rgba(0,0,0, 0.6);
	color: #fff;
	font-weight: bold;
	border-radius: 32px;
	text-transform: uppercase;
	text-align: center;
	padding: 8px 12px 8px 12px;
	left: 24px;
	top: 24px;
	transition: background 0.1s, color 0.1s;
}
.works .back:hover
{
	background: #000;
	color: #44ffaa;
	cursor: pointer;
}

.works .work
{
	width: 100%;
	box-sizing: border-box;
	padding-bottom: 60px;
	display: none;
	float: left;
}

.works .work .postcard
{
	width: 100%;
	height: 300px;
	background-size: cover;
	background-position: center center;
}
.works .work > h1 { padding: 60px 60px 0px 60px; margin: 0; font-weight: bold; width: 100%; float: left; }
.works .work .info { padding: 10px 60px 0 60px; max-width: 600px; line-height: 1.5em; float: left; }

.works .work .links { padding: 20px 60px 60px 60px; float: left; }
.works .work .links a 
{ 
	float: left; 
	height: 20px; 
	padding: 8px 16px 4px 12px;
	margin-right: 12px;
	color: #000; 
	font-weight: bold; 
	text-decoration: none; 
	border: 1px solid #000; 
	border-radius: 20px;
}
.works .work .links a img { margin-right: 12px; float: left; }
.works .work .links a p { margin-top: -3px; float: left; }
.works .work .links a:hover { color: #22aa88; border: 1px solid #22aa88 }

.works .work .disqus
{
	width: 100%;
	max-width: 600px;
	padding: 60px;
	float: left;
}

/* MAX-WIDTH STUFF				*/
/* ---------------------------- */

@media(max-width: 900px) {
	.banner { position: relative; width: 100%; height: 600px; }
	.content { position: relative; width: 100%; }
}

@media(max-width: 600px) {
	.banner .info img { display: none; }
	.banner .info .about  { width: 100%; }
}