{{> partials/head}}
{{> partials/javascript}}

		<div class="banner">
			<div class="vignette">&nbsp;</div>
			<div class="info">
				<img src="img/noel.jpg" alt="Noel!!"/>
				<div class="about">
					<h1>Noel Berry</h1>
					<p>Hey, I'm an independent game developer from Canada! Sometimes, when I'm in the right mood, I make video games and art. Or something.</p>
				</div>
			</div>
			<div class="social">
				<a class="twitter" href="https://twitter.com/noelfb"></a>
				<a class="tumblr" href="https://noelfb.tumblr.com"></a>
				<a class="email" href="mailto:thenberry@gmail.com"></a>
			</div>
		</div>

		<div class="content">
			<div class="portfolio">

				<div class="section">
					<h1 id="games">Games I Created</h1>
					<p>I've been making video games for what feels like a really long time! Sometimes I make games in a few hours, and sometimes I make them over a few years.</p>
					<div class="list">
					{{#games}}
						<div class="link preview" data-id="{{id}}">
							<div class="bg" style="background-image: url('img/{{id}}/preview.png');"></div>
							<h2>{{title}}</h2>
						</div>
					{{/games}}
					</div>
				</div>

				<div class="section">
					<h1 id="websites">Websites I Designed</h1>
					<p>I also design websites! I like messin' with all that HTML / CSS / Javascript stuff to create rad things for people to look at.</p>
					<div class="list">
					{{#websites}}
						<a href="{{url}}" class="link preview" data-id="{{id}}">
							<span class="bg" style="background-image: url('img/{{id}}/preview.png');"></span>
							<h2>{{title}}</h2>
						</a>
					{{/websites}}
					</div>
				</div>

				<div class="section">
					<h1 id="articles">Articles I scribbled</h1>
					<div class="list">
					{{#articles}}
						<div class="link article" data-id="{{id}}">{{title}}</div>
					{{/articles}}
					</div>
				</div>

			</div>
			<div class="works">
				<div class="back">&lt;&lt; Portfolio</div>
				{{> partials/games}}
				{{> partials/articles}}
			</div>
		</div>

{{> partials/foot}}