{{> partials/head}}
{{> partials/javascript}}

		<div class="banner">
			<!--<div class="vignette">&nbsp;</div>-->
			<div class="info">
				<img src="img/andrew.jpg" alt="Andrew"/>
				<div class="about">
					<h1>Andrew Napierkowski</h1>
					<p>
						I'm a software engineer working in Philadelphia, PA.
						<br>
						I also work on my own games and  web projects.
					</p>
				</div>
			</div>
			<div class="social">
				<a href="https://twitter.com/neipo13">Twitter</a>
				<a href="mailto:andrew.napierkowski@gmail.com">Email</a>
				<a href="https://blog.andrewnapierkowski.com">Blog</a>
				<a href="https://github.com/neipo13">Github</a>
			</div>
		</div>

		<div class="content">
			<div class="portfolio">

				<div class="section">
					<h1 id="games">Games</h1>
					<p></p>
					<div class="list">
					{{#games}}
						<div class="link preview" data-id="{{id}}">
							<div class="bg" style="background-image: url('img/{{id}}/preview.{{previewExt}}');"></div>
							<h2>{{title}}</h2>
						</div>
					{{/games}}
					</div>
				</div>

				<div class="section">
					<h1 id="projects">Other Projects</h1>
					<p></p>
					<div class="list">
					{{#projects}}
						<a class="link preview" data-id="{{id}}">
							<span class="bg" style="background-image: url('img/{{id}}/preview.{{previewExt}}');"></span>
							<h2>{{title}}</h2>
						</a>
					{{/projects}}
					</div>
				</div>

				{{> partials/ending}}
			</div>
			<div class="works">
				<div class="back">&lt;&lt; Portfolio</div>
				{{> partials/games}}
				{{> partials/projects}}
				{{> partials/ending}}
			</div>
		</div>

{{> partials/foot}}